

:root {
  --bg-color: #f9f9f9;
  --text-color: #151515;
}
 
/* :root.dark { */
/*   --bg-color: #151515; */
/*   --text-color: #f9f9f9; */
/* } */

body {
  margin: 0px;
  font-family: sans-serif;

}
* {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.semaforo {
  background-color: #353535;
  border-radius: 10px;
  width: 90px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #151515
}


.c-red { 
  background-color: red;
  transition: 0.2s ease;
}

.c-yellow { 
  background-color: yellow;
  transition: 0.2s ease;
}

.c-green { 
  background-color: green;
  transition: 0.2s ease;
}

.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.cont-resp{
  width: 50%;
}

.form {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

input{
  background-color: transparent;
  border: 1px solid #555555;
  height: 20px;
  border-radius: 4px;
  padding: 0.375rem;
}

.modal {
  position: absolute
}

.cont-btn {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}


.cont-btn > button {
  background-color: transparent;
  border: 1px solid #555555;
  width: 100%;
  max-width: 200px;
  height: 40px;
  border-radius: 12px;
  font-size: 0.9rem;
}

.theme{
  background-color: transparent;
  border: 1px solid #555555;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  position: absolute;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: 0.3s ease;
}

.theme:active{
  width: 45px;
  height: 45px;
}
